.divider {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 43px 0 41px;
  }
  .timeline {
    position: relative;
    background-color: #dbe1e8;
    width: 6px;
    height: 1135px;
  }
  
  .time-dot {
    position: absolute;
    left: -7.2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .white-dot {
    background-color: #ffffff;
  }
  
  .grey-dot {
    background-color: #dbe1e8;
  }
  
  .start-date {
    position: absolute;
    display: flex;
    flex-direction: column nowrap;
  
    justify-content: center;
    align-items: center;
  
    background-color: #dbe1e8;
    color: white;
  
    font-family: 'Lato', sans-serif;
    font-size: 23px;
  
    top: 100%;
    left: -32px;
  
    width: 71px;
    height: 35px;
    text-align: center;
  }
  
  .start-date span {
    vertical-align: bottom;
  }